@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Saira+Extra+Condensed&display=swap');

/* All variables */
:root {
  --mainBlue            : #2E6AE4;
  --helperBlue          : #80CAD9;
  --mainBrown           : #BF7652;
  --helperBrown         : #FAB295;
  --mainGreen           : #48D0A1;
  --helperPurple        : #4B52D3;
  --white               : #FFF;
  --black               : #000;
  --inactiveGray        : #828282;
  --hanson              : "Hanson";
  --rubik               : "Rubik";
  --sariaExtraCondensed : "Saira Extra Condensed";
}

body,
html {
  width      : 100%;
  height     : 100%;
  margin     : 0;
  background : var(--mainBlue); /* Mainly here to see how it will look */
}

p, a, h1 {
  margin: 0;
}

/* Hides the scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* My default classes */
.displayFlex    { display : flex; }
.flexCol        { flex-direction : column; }
.alignCenter    { align-items : center; }
.alignFlexStart { align-items : flex-start; }
.justifyCenter  { justify-content : center; }
.justifyBetween { justify-content : space-between; }
.justifyEvenly  { justify-content : space-evenly; }

#root,
.app {
  width    : 100%;
  height   : 100%;
}

.app .threeButtons {
  top        : 75%;
  left       : 0;
  right      : 0;
  z-index    : 1;
  position   : absolute;
  text-align : center;
}

.app .threeButtons button {
  width            : 35px;
  height           : 10px;
  margin           : 0 5px;
  border-radius    : 10px;
  border           : none;
  cursor           : pointer;
  background-color : var(--inactiveGray);
  transition       : 0.3s all ease;
}

.app .threeButtons button:focus {
  outline : none;
}

.app .threeButtons button.active {
  background-color :  var(--white);
  transition       : 0.3s all ease;
}

.app #contentSectionHolder {
  width           : 100%;
  height          : 100%;
  display         : flex;
  overflow-x      : scroll;
  /* scroll-behavior : smooth; */
}

.nav {
  width : 100%;
  height: 5%;
  padding: calc(100vw * 0.04) 0;
  position: absolute;
  z-index: 1;
}

.nav .logo {
  text-transform : uppercase;
  font-size      : 3vw;
  font-family    : var(--sariaExtraCondensed);
}

.nav .navItem {
  margin      : 0 20px; /* So each item has 40px of space in between */
  font-family : var(--rubik);
}

.nav .navItem {
  position  : relative; /* Important for the underline */
  font-size : 1.25vw;
}

/* This is for the underline */
.nav .navItem::before {
  width      : 0%; /* Start with a width of 0 */
  height     : 2px;
  bottom     : -5px; /* I want it to be 5 more px lower */
  left       : 0;
  content    : "";
  position   : absolute; /* So we can control the position */
  background : #fff;
  transition : 0.3s all ease-in-out;
}

/* Fully extends the underline if navItem is also active */
.nav .navItem.active::before {
  width : 100%;
}

/* Fully extends the underline if navItem is hovered */
.nav .navItem:hover::before {
  width      : 100%;
  transition : 0.3s all ease-in-out;
}

.nav .logo,
.nav .navItem {
  line-height     : 1;
  text-decoration : none;
  color           : var(--white);
}

.nav .logo {
  margin-left : calc(100% * 0.04);
}

.nav div:last-child {
  margin-right : calc(100% * 0.04);
}

/* ---------------------------------------------------------- */

.contentSection {
  min-width       : 100%;
  height          : 100%;
  display         : flex;
  flex-direction  : column;
  justify-content : space-between;
  overflow-y      : hidden;
  position        : relative;
  font-family     : var(--rubik);
  color           : var(--white);
  background      : var(--mainBlue);
}

.contentSection #renew,
.contentSection #revive,
.contentSection #refuel { /* Changed */
  margin      : 12% auto 0;
  left        : 0;
  right       : 0;
  font-size   : 17vw;
  text-align  : center;
  position    : absolute;
  font-family : var(--hanson);
  color       : var(--helperBlue);
}

.contentSection .topPortion {
  margin-top      : 6%;
  position        : relative;
  display         : flex;
  justify-content : space-between;
}

.contentSection .topPortion .left {
  margin: 2% 0 0 4%;
  padding-left : 3%;
}

.contentSection .topPortion .left .slideNumber {
  margin-top : 25%;
  font-size  : 7vw;
}

.contentSection .topPortion .left .whiteDash {
  width            : 20%;
  height           : 5px;
  margin           : calc(100vh * 0.1) 0;
  background-color : var(--white);
}

.contentSection .topPortion .left .description,
.contentSection .topPortion .right .dropDownContainer .dropDown .dropDownButton {
  font-size : 1.2vw;
}

.contentSection .topPortion .right {
  width  : 25%;
  margin : 0% 5% 0 0;
}

.contentSection .topPortion .right .dropDownContainer {
  margin-top : 90%;
}

.contentSection .topPortion .right .dropDownContainer .dropDown {
  cursor        : pointer;
  border-bottom : 5px solid var(--white);
}

.contentSection .topPortion .right .dropDownContainer .dropDown:last-child {
  border : none;
}

.contentSection .topPortion .right .dropDownContainer .dropDown .dropDownButton {
  margin : 15px 0;
}

.contentSection .topPortion .right .dropDownContainer .dropDown .dropDownText {
  max-height : 0; /* All the texts are disabled at the start */
  overflow   : hidden;
  transition : max-height 0.2s ease-out; /* Animates the expansion */
}

.contentSection .topPortion .right .dropDownContainer .dropDown .dropDownText p {
  border-top-left-radius  : 10px;
  border-top-right-radius : 10px;
  background              : white;
  padding                 : 5%;
  color                   : var(--mainBlue);
}

/* ------------------------------------------- */

/* Container for all images */
.imagesHolder {
  position : relative;
}

/* Container for the bottle and label */
.imagesHolder .bottleHolder {
  margin-top : 20%;
  z-index    : 2;
  position   : relative;
  overflow   : hidden;
}

/* Affects just the bottle */
.imagesHolder .bottleHolder .bottleImage {
  width : 13vw;
}

/* Affects the whole label */
.imagesHolder .bottleHolder .label {
  margin-top : 75%;
  left       : -14%;
  right      : -14%;
  position   : absolute;
}

/* Affects the logo */
.imagesHolder .bottleHolder .label .labelLogo {
  width        : 55%;
  margin-right : 10%;
}

/* Affects the nutrition facts */
.imagesHolder .bottleHolder .label .labelFacts {
  width       : 30%;
  margin-left : 10%;
}

/* ----------------------------------------------- */

.contentSection .bottomPortion {
  width       : 100%;
  font-size   : 3vw;
  font-weight : bold;
  font-family : var(--rubik);
  color       : var(--black);
}

.contentSection .bottomPortion .paperLookinAss {
  width      : calc(100% * 0.93);
  height     : 22vh;
  top        : 25%;
  position   : relative;
  background : var(--white);
}

.contentSection .bottomPortion .paperLookinAss .bottomText {
  margin     : 3% 0 0 5%;
  margin-top : 3%;
}

.contentSection .bottomPortion .paperLookinAss .assets {
  margin : 5% 5% 0 0;
}


/* ------------------------------------------------------------ */

.renew          { background-color: var(--mainBlue); }
.revive         { background-color: var(--mainBrown); }
.refuel         { background-color: var(--mainGreen); }
.renew #renew   { color: var(--helperBlue); }   /* Changed */
.revive #revive { color: var(--helperBrown); }  /* Changed */
.refuel #refuel { color: var(--helperPurple); } /* Changed */

/* These are the extra images */
.imagesHolder .helperImage {
  position : absolute;
}

.imagesHolder .helperImage#cherry { /* Changed */
  top     : 0;
  left    : 165%;
  z-index : 3;
}

.imagesHolder .helperImage#cherryNoStem { /* Changed */
  top       : 25%;
  left      : -70%;
  transform : rotate(237deg);
}

.imagesHolder .helperImage#orangeSlice { /* Changed */
  width   : 90%;
  z-index : 3;
  bottom  : -5%;
  right   : -40%;
}

.imagesHolder .helperImage#apple { /* Changed */
  width   : 85%;
  top     : 40%;
  left    : -55%;
  z-index : 2;
}

.imagesHolder .helperImage#oneBerry { /* Changed */
  top   : 20%;
  right : -30%;
}

.imagesHolder .helperImage#threeBerries { /* Changed */
  bottom  : 0;
  right   : -30%;
  z-index : 2;
}

.imagesHolder .helperImage#chocolate { /* Changed */
  width : 35vw;
  left  : -28%;
  top   : -20%;
}

.imagesHolder .helperImage#chocolateBit { /* Changed */
  width   : 37%;
  bottom  : 0;
  left    : 9%;
  z-index : 2;
}

.imagesHolder .helperImage#chocolateScrap { /* Changed */
  bottom  : 14%;
  left    : -45%;
  z-index : 2;
}


/* -------------------------------------- */

.renew0To1 { animation: renew0To1Animation 2.5s forwards; }
.renew1To0 { animation: renew1To0Animation 2.5s forwards; }
.revive0To1 { animation: revive0To1Animation 2.5s forwards; }
.revive0To2 { animation: revive0To2Animation 2.5s forwards; }
.revive1To2 { animation: revive1To2Animation 2.5s forwards; }
.revive1To0 { animation: revive1To0Animation 2.5s forwards; }
.revive2To0 { animation: revive2To0Animation 2.5s forwards; }
.revive2To1 { animation: revive2To1Animation 2.5s forwards; }
.refuel1To2 { animation: refuel1To2Animation 2.5s forwards; }
.refuel2To1 { animation: refuel2To1Animation 2.5s forwards; }
.cherry0To1 { animation: cherry0To1Animation 1.5s forwards; }
.cherry1To0 { animation: cherry1To0Animation 3s forwards; }
.cherryNoStem0To1 { animation: cherryNoStem0To1Animation 1.5s forwards; }
.cherryNoStem1To0 { animation: cherryNoStem1To0Animation 3s forwards; }
.orangeSlice0To1 { animation: orangeSlice0To1Animation 1.5s forwards; }
.orangeSlice1To0 { animation: orangeSlice1To0Animation 3s forwards; }
.renewBottle0To1 { animation: renewBottle0To1Animation 1.5s forwards; }
.renewBottle1To0 { animation: renewBottle1To0Animation 3s forwards; }

@keyframes renew0To1Animation {
  from { left: 0; }
  to { left: 100%; }
}

@keyframes renew1To0Animation {
  from { left: 100%; }
  to { left: 0; }
}

@keyframes revive0To1Animation {
  from { left: -100%; }
  to { left: 0; }
}

@keyframes revive0To2Animation {
  from { left: -100%; }
  to { left: 100%; }
}

@keyframes revive1To2Animation {
  from { left: 0%; }
  to { left: 100%; }
}

@keyframes revive1To0Animation {
  from { left: 0%; }
  to { left: -100%; }
}

@keyframes revive2To0Animation {
  from { left: 100%; }
  to { left: -100%; }
}

@keyframes revive2To1Animation {
  from { left: 100%; }
  to { left: 0%; }
}

@keyframes refuel1To2Animation {
  from { left: -100%; }
  to { left: 0; }
}

@keyframes refuel2To1Animation {
  from { left: 0; }
  to { left: -100%; }
}

@keyframes cherry0To1Animation {
  from {
    left: 165%;
    transform: rotate(0deg);
  }
  to {
    left: 57%;
    transform: rotate(-150deg);
  }
}

@keyframes cherry1To0Animation {
  from {
    left: 57%;
    transform: rotate(-150deg);
  }
  to {
    left: 165%;
    transform: rotate(0deg);
  }
}

@keyframes cherryNoStem0To1Animation {
  from {
    top: 25%;
    left: -70%;
    transform: rotate(237deg);
  }
  to {
    top: 42%;
    left: 0%;
    transform: rotate(150deg);
  }
}

@keyframes cherryNoStem1To0Animation {
  from {
    top: 42%;
    left: 0%;
    transform: rotate(150deg);
  }
  to {
    top: 25%;
    left: -70%;
    transform: rotate(237deg);
  }
}

@keyframes orangeSlice0To1Animation {
  from {
    right: -40%;
    transform: rotate(0deg);
  }
  to {
    right: 25%;
    transform: rotate(-80deg);
  }
}

@keyframes orangeSlice1To0Animation {
  from {
    right: 25%;
    transform: rotate(-80deg);
  }
  to {
    right: -40%;
    transform: rotate(0deg);
  }
}

@keyframes renewBottle0To1Animation {
  from {
    left: -14%;
    right: -14%;
  }
  to {
    left: -68%;
    right: 40%;
  }
}

@keyframes renewBottle1To0Animation {
  from {
    left: -68%;
    right: 40%;
  }
  to {
    left: -14%;
    right: -14%;
  }
}
